In [1]:
import pandas as pd
import glob

# Define the directory where your CSV files are stored
csv_directory = "./PassengerVehicle_Stats/"  # Replace with the directory path

# Use glob to load all CSV files in the directory into a list
csv_files = glob.glob(csv_directory + "*.csv")
try:
        # Check if we have 9 files and load them into a list
    if len(csv_files) == 9:
        print(f"Found {len(csv_files)} CSV files.")
        
        # Load all CSV files into a list of DataFrames
        csv_data_list = [pd.read_csv(file) for file in csv_files]

        # Concatenate the list of DataFrames into a single DataFrame
        vehicles_df = pd.concat(csv_data_list, ignore_index=True)

        # Optionally, save the combined DataFrame to a new CSV file
        vehicles_df.to_csv("combined_vehicles_data.csv", index=False)
        print("Combined DataFrame saved to 'combined_vehicles_data.csv'.")
    else:
        print(f"Expected 9 CSV files, but found {len(csv_files)}. Please check your directory.")

except Exception as e:
    print(f"Error occurred: {e}")

Found 9 CSV files.
Combined DataFrame saved to 'combined_vehicles_data.csv'.

In [ ]:
#Data types of the variables
print(vehicles_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16602 entries, 0 to 16601
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          16602 non-null  int64
 1   Public Vehicle Number               16602 non-null  int64
 2   Status                              16602 non-null  object
 3   Vehicle Make                        14685 non-null  object
 4   Vehicle Model                       14639 non-null  object
 5   Vehicle Model Year                  14660 non-null  float64
 6   Vehicle Color                       14616 non-null  object
 7   Vehicle Fuel Source                 16602 non-null  object
 8   Wheelchair Accessible               16602 non-null  object
 9   Company Name                        16602 non-null  object
 10  Address                             14816 non-null  object
 11  City                                14816 non-null  object
 12  State                               14816 non-null  object
 13  ZIP Code                            14816 non-null  float64
 14  Taxi Affiliation                    7348 non-null   object
 15  Taxi Medallion License Management   7321 non-null   object
 16  Record ID                           16602 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 2.2+ MB
None

In [2]:
#First few records of the vehicles data frame
print(vehicles_df.head())

   Index  Public Vehicle Number    Status Vehicle Make Vehicle Model  \
0   1286                  12009  RESERVED    CHEVROLET       EXPRESS
1   2095                  12248  INACTIVE     MERCEDES      SPRINTER
2   7950                  13527  INACTIVE     VAN HOOL         TD925
3   8700                  12248  INACTIVE     MERCEDES      SPRINTER
4   9359                  13528  INACTIVE     VAN HOOL         TD925

   Vehicle Model Year Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0              2014.0         BLACK          Bio-Diesel                     N
1              2010.0        SILVER          Bio-Diesel                     N
2              2008.0           RED          Bio-Diesel                     N
3              2010.0        SILVER          Bio-Diesel                     N
4              2008.0           RED          Bio-Diesel                     N

                              Company Name                 Address     City  \
0                CHICAGO PRIVATE TOURS LLC  4567 S. OAKENWALD AVE.  CHICAGO
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
2                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
4                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO

  State  ZIP Code Taxi Affiliation Taxi Medallion License Management   \
0    IL   60653.0              NaN                                NaN
1    IL   60640.0              NaN                                NaN
2    IL   60609.0              NaN                                NaN
3    IL   60640.0              NaN                                NaN
4    IL   60609.0              NaN                                NaN

                  Record ID
0  12009Charter Sightseeing
1  12248Charter Sightseeing
2  13527Charter Sightseeing
3  12248Charter Sightseeing
4  13528Charter Sightseeing

In [3]:
# All the variables consisit with qualitative nature
#Identifying the mode of variables
qualitative_columns = vehicles_df.select_dtypes(include=['object', 'category']).columns
mode_values = vehicles_df[qualitative_columns.drop('Record ID')].mode()
print("Mode values for each qualitative variable:")
print(mode_values)

Mode values for each qualitative variable:
   Status Vehicle Make Vehicle Model Vehicle Color Vehicle Fuel Source  \
0  ACTIVE       TOYOTA         CAMRY         WHITE            Gasoline

  Wheelchair Accessible          Company Name                 Address  \
0                     N  CITY OF CHICAGO BACP  3800 N. MILWAUKEE AVE.

      City State Taxi Affiliation Taxi Medallion License Management
0  CHICAGO    IL   DIS-AFFILIATED                      Owner Manager

In [ ]:
#obtaining counts of each status
status_category_counts = vehicles_df['Status'].value_counts()

print(status_category_counts)

Status
ACTIVE         7222
VIOLATION      3974
INACTIVE       3702
SURRENDER       888
RESERVED        582
REVOKED         147
FORECLOSURE      82
HOLD              5
Name: count, dtype: int64

In [ ]:
#Wheel chair accessibility 
wheelchair_category_counts = vehicles_df['Wheelchair Accessible'].value_counts()

print(wheelchair_category_counts)

Wheelchair Accessible
N    15978
Y      624
Name: count, dtype: int64

In [ ]:
#Fuel type variation
fuel_category_counts = vehicles_df['Vehicle Fuel Source'].value_counts()

print(fuel_category_counts)

Vehicle Fuel Source
Gasoline                  9938
Hybrid                    5969
Pedal                      215
Flex Fuel                  192
Diesel                      96
Compressed Natural Gas      91
Horse                       59
Electric                    33
Bio-Diesel                   9
Name: count, dtype: int64

In [ ]:
#Detecting Duplicates
duplicates = vehicles_df[vehicles_df.duplicated(subset='Public Vehicle Number', keep=False)]
print(duplicates)
len(duplicates)

       Index  Public Vehicle Number     Status Vehicle Make  Vehicle Model  \
1       2095                  12248   INACTIVE     MERCEDES       SPRINTER
3       8700                  12248   INACTIVE     MERCEDES       SPRINTER
15      1619                    862  VIOLATION       TOYOTA        COROLLA
29      4667                  13634   INACTIVE        DODGE  GRAND CARAVAN
31      5259                   6870  VIOLATION         FORD         ESCAPE
...      ...                    ...        ...          ...            ...
16597  16143                     42     ACTIVE    PRECISION       6 SEATER
16598  16151                     52     ACTIVE      SCHWINN           NONE
16599  16216                     70  VIOLATION   MAINSTREET        CLASSIC
16600  16229                     57  VIOLATION   MAINSTREET      BOARDWALK
16601  16281                    117     ACTIVE      SCHWINN           NONE

       Vehicle Model Year Vehicle Color     Vehicle Fuel Source  \
1                  2010.0        SILVER              Bio-Diesel
3                  2010.0        SILVER              Bio-Diesel
15                 2017.0         WHITE  Compressed Natural Gas
29                 2011.0        SILVER  Compressed Natural Gas
31                 2011.0         GREEN  Compressed Natural Gas
...                   ...           ...                     ...
16597              2020.0        FUSCIA                   Pedal
16598              2014.0         GREEN                   Pedal
16599                 0.0     RED/BLACK                   Pedal
16600              2011.0           RED                   Pedal
16601              2014.0         GREEN                   Pedal

      Wheelchair Accessible                             Company Name  \
1                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
3                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
15                        N                          PETANI CAB CORP
29                        N         SCR MEDICAL TRANSPORTATION, INC.
31                        N                       ARIES TAXI CAB INC
...                     ...                                      ...
16597                     N               JBL PEDICAB MANAGEMENT LLC
16598                     N                          BM PEDICAB INC.
16599                     N                       EMPIRE PEDICAB LLC
16600                     N                       CARGILL C KELLY II
16601                     N                          BM PEDICAB INC.

                      Address     City State  ZIP Code  \
1           4610 N. CLARK ST.  CHICAGO    IL   60640.0
3           4610 N. CLARK ST.  CHICAGO    IL   60640.0
15      2945 W. PETERSON AVE.  CHICAGO    IL   60659.0
29     8801 S. GREENWOOD AVE.  CHICAGO    IL   60619.0
31       6500 N. WESTERN AVE.  CHICAGO    IL   60645.0
...                       ...      ...   ...       ...
16597      1627 N. TRIPP AVE.  CHICAGO    IL   60639.0
16598     4450 N. KEDZIE AVE.  CHICAGO    IL   60625.0
16599        318 W. ADAMS ST.  CHICAGO    IL   60606.0
16600        2428 W. 24TH PL.  CHICAGO    IL   60608.0
16601     4450 N. KEDZIE AVE.  CHICAGO    IL   60625.0

                Taxi Affiliation      Taxi Medallion License Management   \
1                            NaN                                     NaN
3                            NaN                                     NaN
15           Top Cab Association                           Top Cab Corp.
29                           NaN                                     NaN
31     TAXI TOWN AFFILIATION LLC  Medallion Leasing and Management, Inc.
...                          ...                                     ...
16597                        NaN                                     NaN
16598                        NaN                                     NaN
16599                        NaN                                     NaN
16600                        NaN                                     NaN
16601                        NaN                                     NaN

                      Record ID
1      12248Charter Sightseeing
3      12248Charter Sightseeing
15                      862Taxi
29                 13634Medicar
31                     6870Taxi
...                         ...
16597                 42Pedicab
16598                 52Pedicab
16599                 70Pedicab
16600                 57Pedicab
16601                117Pedicab

[4008 rows x 17 columns]

4008

In [17]:
#Removing Duplicates
vehicles_df = vehicles_df.drop_duplicates(subset=['Public Vehicle Number'], keep='first')
print(vehicles_df)
vehicles_df.to_csv('cleaned_vehicles.csv', index=False)

       Index  Public Vehicle Number     Status Vehicle Make Vehicle Model  \
0       1286                  12009   RESERVED    CHEVROLET       EXPRESS
2       7950                  13527   INACTIVE     VAN HOOL         TD925
4       9359                  13528   INACTIVE     VAN HOOL         TD925
5       9441                  12025   INACTIVE     MERCEDES      SPRINTER
6       9505                  13513   INACTIVE     VAN HOOL         TD925
...      ...                    ...        ...          ...           ...
16382  16576                    998  VIOLATION       TOYOTA         CAMRY
16383  16583                   3810     ACTIVE       TOYOTA          RAV4
16384  16590                   4690  VIOLATION       TOYOTA         CAMRY
16385  16592                   2831     ACTIVE       TOYOTA         PRIUS
16386  16596                   1509     ACTIVE       TOYOTA        SIENNA

       Vehicle Model Year Vehicle Color Vehicle Fuel Source  \
0                  2014.0         BLACK          Bio-Diesel
2                  2008.0           RED          Bio-Diesel
4                  2008.0           RED          Bio-Diesel
5                  2015.0         BLACK          Bio-Diesel
6                  2008.0           RED          Bio-Diesel
...                   ...           ...                 ...
16382              2012.0         WHITE              Hybrid
16383              2017.0    GRAY/WHITE              Hybrid
16384              2014.0         WHITE              Hybrid
16385              2012.0         WHITE              Hybrid
16386              2023.0         WHITE              Hybrid

      Wheelchair Accessible                             Company Name  \
0                         N                CHICAGO PRIVATE TOURS LLC
2                         N                 TRT TRANSPORTATION, INC.
4                         N                 TRT TRANSPORTATION, INC.
5                         N  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2
6                         N                 TRT TRANSPORTATION, INC.
...                     ...                                      ...
16382                     N                          AGOMONY CAB INC
16383                     N               FENKIL ASMERA TAXI COMPANY
16384                     N                        MURIELLE CADICHON
16385                     N                            G S TRANS INC
16386                     Y                           J A SHALOM LLC

                        Address     City State  ZIP Code  \
0        4567 S. OAKENWALD AVE.  CHICAGO    IL   60653.0
2           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
4           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
5             4610 N. CLARK ST.  CHICAGO    IL   60640.0
6           4400 S. RACINE AVE.  CHICAGO    IL   60609.0
...                         ...      ...   ...       ...
16382     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
16383  820 W. BELLE PLAINE AVE.  CHICAGO    IL   60613.0
16384         1736 W. 105TH PL.  CHICAGO    IL   60643.0
16385     2601 W. PETERSON AVE.  CHICAGO    IL   60659.0
16386      2532 W. WARREN BLVD.  CHICAGO    IL   60612.0

                    Taxi Affiliation Taxi Medallion License Management   \
0                                NaN                                NaN
2                                NaN                                NaN
4                                NaN                                NaN
5                                NaN                                NaN
6                                NaN                                NaN
...                              ...                                ...
16382                 DIS-AFFILIATED                      Owner Manager
16383    Choice Taxi Association Inc                      Owner Manager
16384                 DIS-AFFILIATED                     Owner-Operator
16385  City Service Taxi Association                      Owner Manager
16386                   Independent1                     Owner-Operator

                      Record ID
0      12009Charter Sightseeing
2      13527Charter Sightseeing
4      13528Charter Sightseeing
5      12025Charter Sightseeing
6      13513Charter Sightseeing
...                         ...
16382                   998Taxi
16383                  3810Taxi
16384                  4690Taxi
16385                  2831Taxi
16386                  1509Taxi

[12594 rows x 17 columns]